DOWNLOAD STOCKFISH 17.1 and ADD THE UNZIPPED FILE TO PATH 

INSTALL -> pip install python-chess stockfish pygame

PYTHON VERSION 3.11 NEEDED TO RUN THE CODE 
CREATE VIRTUAL ENVIRONMENT -> 

1) python3.11 -m venv venv
2) venv\Scripts\activate
3) pip install chess
4) run -> python main.py

